  <div class="container align-content-md-center mt-5">
    <div class="section-welcome">
      <div class="jumbotron text-center vertical-center">
        <h1 class="" display-4>
          Welcome to MyAngularCV
        </h1>
        <p class="lead">
          This is my first angular website, so please, stay indulgent :)
        </p>
        <hr>
        <a routerLinkActive="true" routerLink="/home" class="btn btn-outline-primary btn-lg text-white">
          <fa-icon [icon]="faDoorOpen" [fixedWidth]="true" size="lg"></fa-icon><span class="text-dark">Ok let's go</span>
        </a>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>

