<nav class="navbar navbar-expand-sm navbar-light bg-light-mb-2">
  <div class="container">
    <a class="navbar-brand">MyAngularCV</a>
    <ul class="navbar-nav" routerLinkActive="true">
      <li class="nav-item">
        <a routerLink="/whyThisWebsite" class="nav-link">Why this website?</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Who am I?</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">My career</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">My skills</a>
      </li>
    </ul>
  </div>
</nav>
